#alarm-modal {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    margin: 0;
    width: 460px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 24px 16px 8px;
    background-color: white;
    overflow-y: auto;
    border-right: 0.5px solid #CCCCCC;
}

#alarm-modal-close {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
}

#alarm-modal-title {
    display: flex;
    align-items: center;
    padding: 16px 24px 24px;
    margin: 0;
}

.alarm-modal-section {
    padding: 0;
    margin: 0;
}

.alarm-modal-titles {
    color: rgb(12, 16, 20);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 22px 0 18px;
    padding: 0 24px;
}
.alarm-modal-titles.titles-first {
    margin-top: 0;
}

.alarm-block {
    margin: 0 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.alarm-block:hover {
    background-color: rgb(243, 245, 247);
}

.alarm-profile {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 14px;
    border: 1px solid rgb(219, 223, 228);
}
.alarm-profile-small {
    border-radius: 50%;
    border: 1px solid rgb(219, 223, 228);
    width: 32px;
    height: 32px;
}
.alarm-profiles {
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 14px;
}
.small-1 {
    position: absolute;
    top: 0;
    left: 0;
}
.small-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.alarm-content {
    margin: 0;
    flex: 1;
}

.alarm-user {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
}

.alarm-date {
    color: rgb(106, 113, 122);
}

.alarm-follow {
    all: unset;
    background-color: rgb(240, 242, 245);
    border-radius: 8px;
    padding: 7px 20px;
    font-weight: 600;
    margin-left: 12px;
    flex-shrink: 0;
}
.alarm-follow-back {
    all: unset;
    background-color: rgb(65, 80, 247);
    color: white;
    border-radius: 8px;
    padding: 7px 20px;
    font-weight: 600;
    margin-left: 12px;
    flex-shrink: 0;
}

.alarm-follow:hover {
    background-color: rgb(231, 234, 238);
}

.alarm-hr {
    padding: 0 24px;
    margin-top: 12px;
}

.alarm-hr > hr {
    height: 1px;
    background-color: rgb(219, 223, 228);
    border: none;
    margin: 0;
}

.alarm-thumbnail {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    margin-left: 12px;
}

.alarm-tag {
    color: blue;
}

.thumbnail-dummy {
    background-color: lightgray;
}

body {
    overflow: hidden;
}