p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    display: flex;
    font-family: Roboto, Arial;
    margin: 0;
    background-color: white;
    color: gray;
}

.feedgrid {
    display: grid;
    row-gap: 1px;
    column-gap: 2px;
    margin: 50px 0 0 380px;
}

@media (min-width: 1000px) {
    .feedgrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.feed {
    position: relative;
    flex: 1;
    cursor: pointer;
    overflow: hidden;
}

.feed:hover .thumbnails {
    opacity: 0.8;
}

.feed:hover {
    background-color: #050000;
}

.feed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    font-weight: bold;
}

.feed:hover .feed-overlay {
    opacity: 1;
}

.overlay-info span {
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.thumbnails {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.video-icon,
.novideo-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}