p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    display: flex;
    font-family: Roboto, Arial;
    margin: 0;
    background-color: white;
    color: gray;
}

main {
    display: flex;
    flex: 1; /* 남은 공간 차지*/
    height: 100vh;
    margin-left: 72px;
}

.sidebar {
    width: 80px;
    flex-shrink: 0;
}