.right-section {
    flex-basis: 70%;
    justify-items: center;
    align-content: center;
}

.title {
    font-size: 24px;
    color: black;
}

.mymessage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.send-message {
    font-weight: bold;
    color: white;
    background-color: rgb(0, 21, 255);
    border: none;
    border-radius: 10px;

    width: 110px;
    height: 35px;
    cursor: pointer;
}