.user-search-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1500;
    background-color: #fff;
    height: 100%;
    border-right: 1px solid #dbdbdb;
    width: 397px;
    box-sizing: border-box;
    padding: 24px  20px;
}

.user-search-close-btn{
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: #262626;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 12px;
}

.user-search-close-btn:hover{
    font-size: 34px;
}

.search-box{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    
}

.user-search-input{
    background-color: #ececec;
    color: #000000;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
}
.user-search-input::placeholder{
    font-size: 15px;
}

.user-search-input:focus{
    outline: none;

    
}

.user-search-clear-btn{
    z-index: 1;
    display: none;
    border: none;
    border-radius: 100%;
    color: #fff;
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    background-color: #c2c0c0;
    right: 10px;
    padding: 0;
}
.user-search-input:focus + .user-search-clear-btn{
    display: block;
}


.user-search-result{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

}

.user-search-list{
    font-size: 16px;
    font-weight: bold;
}


.user-search-p{
    display: none;
    color: #5a5a5a;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin: auto;
}

.user-search-separator{
    display: flex;
    position: relative;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-search-ls-btn{
    display: flex;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: transparent;
}
.user-search-ls-btn:hover{
    background-color: #f2f2f2;
}
.user-search-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

}

.user-search-information{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 10px;
    justify-content: center;

}

.user-search-username{

    font-size: 13px;
    color: #000000;
    font-weight: bold;
    text-align: left;
}

.user-search-stat{
    font-size: 13px;
    color: #585858;
}

.user-search-noresult{
    display: none;
}

.user-search-recent{
    top: 20px;
}




@media screen and (max-width: 767px){
    .user-search-modal{
        display: none !important;
    }
}