body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shorts-feed {
    position: relative;
    width: 403px;
    height: 716px;
}

.shorts-item {
    position: relative;
    background-image: url('placeholder.png');
    background-position: center;
    background-size: cover;
    width: 403px;
    height: 716px;
    display: flex;
    border-radius: 10px;
}

.shorts-item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.1);
    pointer-events: none;
    border-radius: 10px;
}

.shorts-actions {
    position: absolute;
    left: 100%;
    height: 716px;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 12px;
    font-size: 14px;
}

.action-item {
    height: 72px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-item:last-child {
    margin: 0;
    height: 40px;
    padding-top: 16px;
}

.action-btn {
    background-color: rgba(0, 0, 0, 0.05);
    width: 48px;
    height: 48px;
    border-radius: 999px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.action-btn:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.action-btn:last-child {
    background: none;
}

.action-text {
    margin-top: 4px;
    line-height: 20px;
}

.action-btn--thumb > img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.meta-top,
.channel {
    position: relative;
    z-index: 10;
    display: flex;
    height: 32px;
    color: white;
    align-items: center;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.channel-name {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.subscribe-btn {
    display: flex;
    height: 32px;
    border-radius: 16px;
    border: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    width: 45px;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #F5F5F5;
}

.shorts-desc {
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 20px;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.shorts-meta {
    padding: 16px;
    margin-top: auto;
}